@import '../../style/utils/Variables.scss';


@media (max-width: 480px) {
    body {
      background-color: $white;
    }
    .login-illustration {
        display: none !important;
    }

    .login-form-logo {
        align-self: flex-start;
        display: flex !important;
    }
    .login-page {
        flex-direction: column;
        gap: 35%;
    }
}

.login-page {
    display: flex;
    height: 100vh;
    background: $cleanWhite;
   

    .login-illustration {
        flex: 1;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        gap: 8%;
        .login-con {
            align-self: start;
            padding: 10px;
           }

        .illustration-content {
            text-align: center;

        }
    }
    
    .login-form-logo {
        display: none;
    }
    .login-form-container {
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;

        .login-card {
            width: 400px;
            height: auto;
            border: none;
            padding: 24px;
            text-align: center;

            .login-header {
                margin-bottom: 24px;

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    color: #6c757d;
                }
            }

            .login-form {
                .login-input {
                    margin-bottom: 16px;
                }

                .login-options {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;

                    .forgot-password-link {
                        color: #5b8efc;
                    }
                }

                .login-button {
                    background-color: $primary;
                    border: none;
                    width: -webkit-fill-available;
                    &:hover {
                        background-color: $primary;
                    }
                }
            }

            .login-footer {
                margin-top: 24px;

                .register-link {
                    color: #5b8efc;
                }

                .social-login {
                    margin-top: 16px;

                    span {
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

