@import '../../style/utils/Variables.scss';
.custom-password-wrapper {
  display: $flex;
  align-items: center;
  position: relative;
}

.custom-password-wrapper .ant-input {
  padding-right: 36px; 
}

.custom-password-wrapper .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: $textColor;
}

.custom-password-wrapper .eye-icon:hover {
  color: $secondary;
}

.custom-password-wrapper .input-label {
  margin-right: 12px;
  font-weight: $bold;
  color: $textColor;
}
