@import '../../style/utils/Variables.scss';
.custom-search-wrapper {
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  border-radius: $commonRadius;

}

.custom-search-wrapper .ant-input {
  font-size: 16px;
  border-radius: 4px;
  align-self: center;

}

.custom-search-wrapper .ant-input-prefix {
  font-size: 22px;
  color: $textColor;
  height: 34px;
   padding: $commonPadding;

}

.custom-search-wrapper .ant-input-affix-wrapper {
  padding: 0px;
  width: 300px;
}

.suggestions-dropdown {
  position: absolute;
  width: auto;
  background: $cleanWhite;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow-y: auto;
  border-radius: 2px;
}

.suggestion-item {
  padding: 8px 16px;
  color: $textColor;
  cursor: pointer;
  &:hover {
    background: $white;
  }
}