@import "../../style/utils/Variables.scss";

.dashboard-container {
  // background: #f8fafc;
  padding: 24px;

  .dashboard-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
  }
}


.top-two-rows {
  margin-bottom: 16px;

  .top-two-columns {
display: grid;
gap: 20px;
  }
}

.ant-card {
  border-radius: 8px;
  .ant-card-body {
    padding: 10px;
  }
}

.small-card {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
  }
  p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #6b7280;
  }
}

.horizontal-card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
  h4 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  .ant-progress {
    margin-bottom: 8px;
    margin-top: 15px;

  }

  .ant-progress-bg {
    border-radius: 10px !important; 
    height: 10px;
  }
  .chart-wrapper {
    position: relative;
    height: calc(100% - 28px);

    canvas {
      width: 100% !important;
      height: 200px !important;
    }
  }
}

.radar-card {
  height: 397px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 

  h4 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  .chart-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    canvas {
      width: 100% !important;
      height: 290px !important;
    }
  }

  .radar-legend {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    p {
      margin: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 24%;
      margin-right: 4px;
    }
    .dot-blue {
      background: $primary;
    }
    .dot-purple {
      background: #a0c4ff;
    }
  }
}


.bottom-row {
  .line-chart-card,
  .chart-card,
  .table-card {
    h4 {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 500;
    }
    .chart-wrapper {
      flex: 1;
      position: relative;
      canvas {
        width: 100% !important;
        height: 200px !important;
      }
    }
  }
  .center-text {
    text-align: center;
    margin-top: 8px;
    font-weight: 600;
    color: $primary;
  }
  .disclosure-table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    th, td {
      padding: 8px;
      border-bottom: 1px solid #e5e7eb;
      text-align: left;
      font-size: 14px;
    }
    th {
      color: #6b7280;
      font-weight: 600;
    }
  }
}

@media (max-width: 1024px) {
  .top-two-rows,
  .bottom-row {
    flex-direction: column;
  }
}
