@import '../../style/utils/Variables.scss';


@media (max-width: 480px) {
  .questionnaire-container {
    flex-wrap: wrap;
  }

  .category-card {
    width: 100% !important;
  }

  .question-card {
    width: 100% !important;
    .ant-card-head-wrapper {
      gap: $commonGap;
     }
  }

  .subbutton {
    flex-wrap: wrap;
    gap: $commonGap;
    padding: $commonPadding;
  }

  .navigation-buttons {
    flex-wrap: wrap;
  }
  .common-submit-btn {
    flex-wrap: wrap;
  }
}
.questionnaire-main {

    .questionnaire-title {
      padding-bottom: 15px;
      padding-left: 5px;
      font-weight: $bold;
      color: $textColor;
      font-size: 20px;
    }
}

.questionnaire-container {
    display: $flex;
    gap: 20px;
  
    .category-card {
      width: 30%;
      .ant-card {
        height: 100%;
      }
  
      .category-item {
        cursor: pointer;
        padding: 8px;
        color: $textColor;
        font-weight: $bold;
        &:hover {
          background-color: $white;
        }
  
        &.active {
          background-color: $bgColor;
          font-weight: $bold;
          color: $secondary;
        }
      }

      .disabled-item {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }
    
    }
  
    .question-card {
      width: 80%;
      .ant-card {
        height: 100%;

        .ant-card-head {
         color: $textColor;
         .ant-card-head-wrapper {
          gap: $commonGap;
         }
      }
.ant-card-body {
  padding: 25px;
}

.ant-table-cell {
  padding: 10px;
}

.ant-table-footer {
  padding: 10px;
}
      .back {
        color: $textColor;
        cursor: pointer;
        margin: 5px;
      }
    }

    .question-item {
        margin-bottom: 16px;
        padding: 10px;
    }
    
    .question-text {
        font-size: 14px;
        margin-bottom: 8px;
        color: $textColor;
        display: $flex;
        gap: $commonGap;

    }

    .copy-upload {
      display: $flex;
      gap: $commonGap;
    }
    
    .question-options {
        margin-bottom: 20px;
        display: grid;
        gap: $commonGap;
    
        label {
            margin-right: 12px;
            color: $textColor;
        }
    
    }
    
    
  }
}


.footer-main {
  display: $flex;
  justify-content: flex-start;
  width: 100%;
}

.footer-row {
  display: $flex;
  justify-content: space-between;
  width: 100%;
}

.footer-text {
  font-size: 14px;
  font-weight: $bold;
  color: $textColor;
  text-align: center; 
}

.footer-text.performance {
  flex: 4.6;
  text-align: left;
}

.footer-text.supplier-strategy {
  flex: 4.6;
  text-align: left;
}

.footer-text.product-supply {
  flex: 4.7;
  text-align: left;
}

.footer-text.governace {
  flex: 4.2;
  text-align: left;
}

.footer-text.management-system {
  flex: 4.2;
  text-align: left;
}

.footer-text.emissions-waste {
  flex: 2.3;
  text-align: left;
}

.footer-text.carbon {
  flex: 5;
  text-align: left;
}

.footer-text.financial-tracking {
  flex: 4.8;
  text-align: left;
}
.footer-text.general {
  flex: 3;
  text-align: left;
}

.footer-text.default {
  flex:3.4;
  text-align: left;
}


.total-label {
  flex: 7.4;
  text-align: start;
}

.answered {
flex:3.4;
text-align: left;

}

.footer-text.supplierbenchmark {
  flex:3.0;
  text-align: left;
}

.answe-bench {
  flex:3.0;
  text-align: left;
}
.percentage {
  flex: 3.5;
}



.footer-text.percentage {
  flex: 3.5;
  text-align: center;
}

.footer-text.percentage.performance {
  flex: 5.2;
  text-align: center;
}

.footer-text.percentage.supplier-strategy {
  flex: 6;
  text-align: center;
}

.footer-text.percentage.product-supply {
  flex: 6;
  text-align: center;
}

.footer-text.percentage.governace {
  flex: 4.9;
  text-align: center;
}

.footer-text.percentage.management-system {
  flex: 4.7;
  text-align: center;
}

.footer-text.percentage.emissions-waste {
  flex: 2.4;
  text-align: center;
}

.footer-text.percentage.carbon {
  flex: 5.9;
  text-align: center;
}

.footer-text.percentage.financial-tracking {
  flex: 5.6;
  text-align: center;
}

.footer-text.percentage.general {
  flex: 3.1;
  text-align: center;
}

.footer-text.percentage.supplierbenchmark {
  flex: 3.2;
  text-align: center;
}



.area-upload {
  display: $flex;
  justify-content: space-between;
  gap: $commonGap;
  padding-bottom: 20px;
}

.upload-section {
  margin-top: 8px;
  display: $flex;
  align-items: center;
}

.upload-icon {
  font-size: 18px;
  cursor: pointer;
}

.uploaded-file-info {
  margin-top: 8px;
  display: $flex;
  align-items: center;
}

.uploaded-file-details {
  background: #f5f5f5;
  padding: $commonPadding;
  border-radius: 4px;
  border: $border;
  display: $flex;
  align-items: center;
  gap: $commonGap;
  color: $textColor;
}

.remove-file-icon {
  color: $error;
  cursor: pointer;
  border: none;
}

.question-options {
  margin-bottom: 8px;
  display: grid;
  gap: $commonGap;

  label {
    margin-right: 12px;
    color: $textColor;
  }
}

.subbutton {
  display: $flex;
  justify-content: space-between;
}

.navigation-buttons {
  display: $flex;
  align-items: center;
  justify-content: space-between;
  gap: $commonGap;

  .current-section-text {
      font-size: 14px;
      font-weight: $bold;
      color: $textColor;
  }
}

.flex-cate {
  display: flex;
  gap: 5px;
}

.radio-qbutton {
 .ant-radio-wrapper {
  font-size: 12px;
 }
}

.answered-icon {
  color: green;
  margin-left: 8px;
}

.common-submit-btn {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.copy-border {
  border: none;
  background: $cleanWhite;
  cursor: pointer;
}


.model-ques-content {
  color: $textColor;
  font-size: 16px;
  font-weight: $bold;
  display: ruby-text;
  
}


  .ant-btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: $primary !important;
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2);
    }

    &:focus {
      background-color: $primary;
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2);
    }
  }

  .ant-modal-header {
    background-color: $cleanWhite;
    padding-bottom: $commonPadding;

    .ant-modal-title {

      color: $textColor;
    }
  }

  .ant-modal-body {
    background-color: $cleanWhite;
  }

  .ant-modal-footer {
    background-color: $cleanWhite;
    padding: 0;
  }

.mandatory-asterisk {
  color: $error;
  font-weight: $bold;
  font-size: 18px;
}

.table-input-container-b {
  .cus-table {
    width: max-content;
    border-collapse: collapse;
    margin: 10px 0;
    

    th,
    td {
      border: 1px solid #d9d9d9;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #fafafa;
      font-weight: 600;
      width: 4%;

    }
   
    tr:first-child th:first-child,
    tr:first-child td:first-child {
      width: 10% !important; 
    }

    td:nth-of-type(8),
    td:nth-of-type(9) {
      width: 4%!important;
 }


    tr:nth-child(2) td:nth-child(2),
    tr:nth-child(3) td:nth-child(3),
    tr:nth-child(4) td:nth-child(4),
    tr:nth-child(5) td:nth-child(5),
    tr:nth-child(6) td:nth-child(6),
    tr:nth-child(7) td:nth-child(7),
    tr:nth-child(8) td:nth-child(8){
      width: 5px!important;

    }
  }

  .ant-input {
    border: none;
    box-shadow: none;
    padding: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .add-row {
    padding-bottom: 10px;
  }
}
