$white: #F5F5F5;
$primary: #09B96D;
$secondary: #0058EA;
$darkText: #121315;
$bgColor: #F8F8F8;
$border: solid 1px #CCCCCC;
$cleanWhite : #FFFFFF;
$commonPadding:10px;
$commonRadius: 10px;
$commonGap:10px;
$flex:flex;
$textColor:#636363;
$fullWidth: -webkit-fill-available;
$bold:500;
$lightGrey:#FAFAFA;
$grey:#ECECEC;
$error:#FA4032;
$warning: #ff9933;
$title: #222222;
$good:#8bc34a;
$satisfactory: #ffc107;