@import '../../style/utils/Variables.scss';
.loading-container {
    display: $flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    color: $primary;
    font-size: 50px;
}